@keyframes spinny {
    from {
        transform: scale3d(2, 2, 1) rotateZ(0deg);
    }
    to {
        transform: scale3d(2, 2, 1) rotateZ(360deg);
    }
}

@keyframes biggy {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.2);
    }
}

@keyframes lights {
    from {
        box-shadow: -2px -2px 10px 8px #42b3e73d, 3px 3px 10px 0px rgba(17, 210, 178, 0.6);
    }
    to {
        box-shadow: 2px 2px 10px 4px #42b3e73d, -3px -3px 10px 0px rgba(17, 210, 178, 0.6);
    }
}

.spinny {
    animation: spin 5s linear infinite;
}
.biggy {
    animation: biggy 1ms linear infinite alternate;
}
.lights {
    animation: lights 0.8s ease-in-out infinite alternate;
}

.friend-item-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    width: 320px;
    height: 64px;
    /* box-sizing: border-box; */
    margin: 6px 8px 0px 8px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 4px;
    transition: all 2.5s;
}

.friend-item-container.online.watching {
    animation: lights 0.8s ease-in-out infinite alternate;
}

.offline {
    color: rgba(190, 190, 190, 0.648) !important;
}

.online {
    color: rgb(102, 192, 244);
    box-shadow: 3px 3px 10px 1px rgba(102, 192, 244, 0.534);
}

.watching {
    color: rgb(116, 174, 34);
}

.friend-item-left {
    display: flex;
    justify-content: center; /* horizontally center the content */
    align-items: center; /* vertically center the content */
    width: 50px;
    max-width: 120px;
    margin-right: 8px;
    margin-left: 4px;
    border-radius: 4px;
}

.friend-item-left img {
    min-width: 24px;
    width: 100%;
    height: auto;
    /* border: solid 4px rgb(50, 50, 50); */
    border-radius: 8px;
}

.offline .friend-item-left img {
    filter: brightness(50%) grayscale(40%);
}

.friend-item-center {
    width: 66%;
}

.friend-item-center-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.friend-item-center-flex-col .friend-item-center-name {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.offline .friend-item-center-flex-col .friend-item-center-name {
    color: rgb(190, 190, 190) !important;
}

.friend-item-center-flex-col .friend-item-center-activity {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 2px;
    margin-right: 8px;
    opacity: 60%;
}

.friend-item-center .friend-item-center-progress {
    font-size: 12px;
    margin-bottom: 4px;
    opacity: 60%;
}

.friend-item-right {
    display: flex;
    width: 50px;
    justify-content: center; /* horizontally center the content */
    align-items: center; /* vertically center the content */
    border-left: 1px solid rgb(48, 48, 48);
    cursor: pointer;
}

.friend-item-right svg {
    width: 40%;
    height: auto; /* maintain aspect ratio */
    color: white;
}

.friend-item-right:hover {
    background-color: rgb(80, 80, 80);
    border-radius: 0 4px 4px 0;
    transition: all 0.4s;
}
