.friend-item-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    /* pill.width - margin */
    width: 320px;
    /* max-width: 230px; */
    /* border: 2px dotted crimson; */
    box-sizing: border-box;
    margin: 6px 8px 0px 8px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 0px 4px 4px 0px;
}

.friend-item-left {
    width: 20%;
    margin-right: 4px;
    border: 1px solid purple;
    border-radius: 4px;
}

.friend-item-center {
    /* border: 1px solid green; */
    width: 66%;
}

.friend-item-center-flex-col {
    display: flex;
    flex-direction: column;
}

.friend-item-center-name {
    font-size: 16px;
}

.friend-item-center-activity {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* border: 1px solid yellow; */
}

.friend-item-center-progress {
    font-size: 12px;
}

.friend-item-right {
    width: 14%;
    border-left: 1px solid rgb(48, 48, 48);
    cursor: pointer;
}

.friend-item-right:hover {
    background-color: rgb(80, 80, 80);
    border-radius: 0 4px 4px 0;
    transition: all 0.4s;
}
